{#
 # Block wrapper definitions for portal modules.
 # Uses the same player-detail-pane box style as the character page
 # (bbguild#380), not the original Board3 forabg/topiclist wrapper.
 #
 # Side blocks (right column): LR_BLOCK_H_L/H_R/F_L/F_R
 # Center blocks (top/center/bottom): C_BLOCK_H_L/H_R/F_L/F_R
 #}

{# --- Side block wrappers (right column) --- #}

{% DEFINE LR_BLOCK_H_L %}
<div class="player-detail-pane panel" id="portal-module-{{ definition.MODULE_ID }}">
	<h4 class="player-detail-pane-title">
{% ENDDEFINE %}

{% DEFINE LR_BLOCK_H_R %}
	</h4>
{% ENDDEFINE %}

{% DEFINE LR_BLOCK_F_L %}
{% ENDDEFINE %}

{% DEFINE LR_BLOCK_F_R %}
</div>
{% ENDDEFINE %}

{# --- Center block wrappers (top, center, bottom columns) --- #}

{% DEFINE C_BLOCK_H_L %}
<div class="player-detail-pane panel" id="portal-module-{{ definition.MODULE_ID }}">
	<h4 class="player-detail-pane-title">
{% ENDDEFINE %}

{% DEFINE C_BLOCK_H_R %}
	</h4>
{% ENDDEFINE %}

{% DEFINE C_BLOCK_F_L %}
{% ENDDEFINE %}

{% DEFINE C_BLOCK_F_R %}
</div>
{% ENDDEFINE %}

{# --- Icon helper macro --- #}

{% DEFINE BLOCK_ICON %}
	{% if definition.FA_ENABLED %}
		<i class="fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;"></i>&nbsp;
	{% elseif definition.IMAGE_SRC %}
		<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" class="b3p-icon" />&nbsp;
	{% endif %}
{% ENDDEFINE %}
