{% INCLUDE 'simple_header.html' %}

<div class="panel">
	<div class="inner">

		<h2 class="message-title">{{ lang('BBGUILD_ABOUT') }}</h2>

		<p>{{ lang('BBGUILD_ABOUT_INTRO') }}</p>
		<p>{{ lang('BBGUILD_ABOUT_ORIGIN') }}</p>

		<dl class="details clearfix">
			<dt>{{ lang('VERSION') }}</dt>
			<dd>{{ BBGUILD_VERSION }}</dd>

			<dt>{{ lang('MAINT') }}</dt>
			<dd><a href="https://www.avathar.be" rel="nofollow">Sajaki</a></dd>

			<dt>{{ lang('SVNNAME') }}</dt>
			<dd><a href="{{ lang('SVNURL') }}" rel="nofollow">{{ lang('SVNURL') }}</a></dd>
		</dl>

		<h3>{{ lang('TCOPYRIGHT') }}</h3>
		<p>{{ lang('LICENSE2') }}</p>
		<p>
			{{ lang('COPYRIGHT3')|raw }}<br />
			{{ lang('COPYRIGHT2') }}<br />
			{{ lang('COPYRIGHT1') }}
		</p>

		<p class="bbguild-about-license">&copy; {{ BBGUILD_YEAR }} avathar.be &mdash; {{ lang('BBGUILD_ABOUT_LICENSE') }}</p>

	</div>
</div>

{% INCLUDE 'simple_footer.html' %}
